a{
    text-decoration: none;
    color: black;
}
body {
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
    flex-direction: column;
}

#header {
    background-color: bisque;
    padding: 10px;
    display: flex;
    justify-content: space-between; 
    height: 50px;
}

button {
    height: 40px;
    width: 100px;
    font-size: 18px;
    border: none;
    margin-left: 5px; 
}

#main-page {
    background-color: orange;
    height: 669px;
}

